.home-page-hero {
  background-image: url('images/Home/Hero04.png');
}

.call-now-button {
  background-color: #ecab23;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: transform 0.3s, background-color 0.3s;
}

.call-now-button:hover {
  background-color: #d39e1d;
  transform: scale(1.05);
}

.call-now-button .feather {
  font-size: 2rem; /* Increase the icon size */
  margin-right: 10px;
}

/* Image for mobile view */
@media (max-width: 768px) {
  .home-page-hero {
    background-image: url('images/Home/Hero_mobile_04.png');
  }
}

  /* Default state - visible */
  .hide-on-mobile {
    display: block;
  }

  /* Hide on mobile view */
  @media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
    .contact-form-home {
      margin-top: -7rem;
    }

    .home-page-hero .row {
      text-align: center;
    }
  }

   @media (max-width: 993px) {
    .hide-on-mobile {
      display: none;
    }
  }



textarea.form-control {
  height: 3.5rem;
}

.service-home {
  color: black !important;
}

.service-home:hover {
  color: #b22f27 !important;
}

.service-home:active {
  color: #b22f27 !important;
}

.service-area-navbar {
  background: #b22f27 !important;
  border: 1px solid #ebab23 !important;
  /* color: white; */
}

.service-area-navbar:hover {
  background: #ebab23 !important;
  transition: background ease-in-out 0.7s !important;
}

.service-navbar:hover {
  background: #ebab23;
  transition: background ease-in-out 0.7s;
}

/* Default styles for larger screens */
.service-group {
  flex: 1;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .dropdown-menu {
    width: 100% !important;
  }

  .d-flex {
    flex-direction: column;
  }

  .service-group {
    width: 100%;
    padding: 0.5rem;
  }

  .service-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .service-navbar img {
    margin-right: 0.5rem;
  }
}

/* Further adjustments for very small screens */
@media (max-width: 576px) {
  .service-navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .service-navbar img {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
